*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  background: url(bg.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}
header{
  width:100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  z-index: 99;
  box-shadow: 0 0 10px #000;
  background: rgba(0,0,0,0.5);
}
#chk1{
  display: none;  
}

.img {
  width: 100%;

}

.gallerys {
  padding: 10px;
  overflow: hidden;
  text-align: center;
  display: block;
  float: left;
}

.gallerys img{
  display: inline-block;
  width: 220px;
  height: 220px;
  overflow: hidden;
  margin: 10px;
  object-fit: cover;
}

div.desc {
  display: block;
  padding: 10px;
  margin:0 auto;
}

p.space{
  margin-bottom: 30px;
  }

.center{
  text-align: center;
  padding: 100px;
  float: left;
}
i{
  color: #fff;
  cursor: pointer;
}
header .logo{
  flex: 1;
  padding-top: 20px;
  padding-left: 50px; 
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 15px;
}
header .search-box{
  flex: 1;
  position: relative;
}
.search-box input{
  width:100%;
  height: 40px;
  border: none;
  outline: none;
  background:#f2f2f2;
  border-radius: 30px;
  color:gray;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 40px;
  text-align: center;
   
}

.search-box button{
  cursor: pointer;
  width:40px;
  height: 40px;
  border-radius: 30px;
  border:none;
  position: absolute;
  top:0;
  right: 0;
  transform: scale(0.9);
  background: rgb(0, 166, 21);
  color: #fff;
}
header ul {
  flex:2;
  display: flex;
  justify-content: space-evenly;
}
header ul li{
  list-style: none;
}
header ul li a{
  text-decoration: none;
  color:#fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
}
header ul li a:hover{
  border-bottom: 2px solid cadetblue;
}
header .menu{
  font-size: 2.5em;
  display: none;
}
@media(max-width:1000px){
  .search-box button{
      position: absolute;
  }
  header ul{
      position: fixed;
      top:100px;
      right: -100%;
      background: rgba(0,0,0,0.5);
      height: calc(100vh - 100px);
      width:50%;
      flex-direction: column;
      align-items: center;
      transition: right 0.5s linear;
  }
   
  header .menu{
      display: block;
      width:100px;
      text-align: center;
  }
  #chk1:checked ~ ul{
      right: 0;
      
  }
/* Esiletõstetud tooted */

}
.featured{
  margin-top: 100px;
  text-align: center;
  
}  
.container{
  margin-left: 10%;
  margin-right: 10%px
}

/* Siit algab slideshow küljenduskood */

* {
  box-sizing: border-box;
}
.Slide {
  display: none;
}
img {
  vertical-align: middle;
  
  width: 100%;
  height: 500px;
}
.slideContainer {
  max-width: 80%;
  position: relative;
  
  margin: auto;
  
}
.prevBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  background-color: rgb(255, 255, 75);
  color: rgb(50, 0, 116);
  font-weight: bolder;
  font-size: 18px;
}
.nextBtn {
  right: 0;
}
.Caption {
  color: #fbff09;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.Navdot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(54, 5, 117);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.selected,
.Navdot:hover {
  background-color: #d9ff00;
}
@media only screen and (max-width: 450px) {
  .prevBtn,
  .nextBtn,
  .Caption {
     font-size: 16px;
  }
}

.meist{
  padding-top: 2%;
  font-size: 20px;
  text-align: left;
}