    @media screen and (min-width: 480px) {
            body {
                background-color: rgb(236, 236, 236);

               

            }

            div#main {
                font-size: 3vw;
            }
        }
        .btn-group button {
                background-color: #04AA6D; /* Green background */
                border: 1px solid green; /* Green border */
                color: white; /* White text */
                padding: 10px 20px; /* Some padding */
                width: 20%;
                cursor: pointer; /* Pointer/hand icon */
                float: left; /* Float the buttons side by side */
        }

        .btn-group button:not(:last-child) {
            border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
        .btn-group:after {
            content: "";
            clear: both;
            display: table;
        }

/* Add a background color on hover */
        .btn-group button:hover {
            background-color: #3e8e41;
        }
        /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: green;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: green;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
